
body {
    font-family: Arial, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    height: auto;
    width: 100%;
}
header {
    background-color: #ffffff;
    color: #110d1d;
    padding-top: 50px;
    text-align: left;
    width: 100%;   
    margin: 0;

    }
    
    
    footer {
        background-color: #fcfcfc;
        color: #1d0101;
        height: auto;
        margin-bottom: 0;
        padding: 50px;

    }
    table {
        width: 100%;
        color: #313131;
        border-collapse: collapse;
    }

    
    .HeadFont {
        font-family:Arial, Helvetica, sans-serif;
        font-size: 50px;
        font-weight: bolder;
    }
    .tabelFooter {
        text-align:left;
        border-collapse: collapse;
        color: #565555;
    }
    .word {
        text-align: center;
        width: 300;}

    
    .image {
        text-align: right;
        width: 300;
    }
    .Headerimg {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
    }
    
    
    #Row1cel1{
        background-color: #fdf9e2;
    }
    #Row1cel2{
        width:200px;
        background-color: #fbf8e1;
    }
    #Row1cel3{
        background-color: #d4f6df;
    }
    #Row1cel4{
        width:200px;
        background-color: #fee0d6;
    }
    #Row2cel1{
        background-color: #EBECFF;
    }
    #Row2cel2{
        background-color: #eac9bc;
        width:200px;
    }
    #Row2cel3{
        background-color: #f7eda0;
    }
    #Row2cel4{
        background-color: #fbf6cf;
    }
    #Row3cel1{
        background-color: #c6f1d4;
    }
    #Row3cel2{
        width:200px;
        background-color: #E8E6FF;
    }
    #Row3cel3{
        background-color: #DAE1F7;
    }
    #Row3cel4{
        background-color: #F5FBFF;
    }
    #Row4cel1{
        background-color: #F0F4FA;
    }
    #Row4cel2{
        width:200px;
        background-color: #EBCABE;
    }
    #Row4cel3{
        background-color: #f4a889;
    }
    #Row4cel4{
        background-color: #F0E6A1;
    }

